.login-div{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}
.login-div form{
    display: flex;
    width: 25%;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px 0px #00000038;
}
.login-div form h1{
    padding-bottom: 14px;
}
.login-div label{
    padding-bottom: 4px;
}
.login-div input{
    margin-bottom: 8px;
    padding: 2px 4px;

}
.login-div button{
    margin-top: 8px;
    padding: 8px;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 4px;
}
.login-div button:hover{
    /* color: black; */
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}
